div{
   height:400px;
   width:800px;
   background-color: green;
   text-align: center;
   box-shadow: 20px 20px  70px black;
   margin :10px auto;

   background-image: url("andrey.jpg");
   background-size: auto;
   color : blue;



}